
<div class="container" id="prindexcontainer">
 <div class="row prodrow">
    <% @products.each do |product| %>
      <div class="col-sm-3 col-md-4 clearfix">
      <div class="col-sm-12 col-md-12 prodcol">
      <%= image_tag(product.image_url, class: "img-responsive") %>
        <h2><%= product.name %></h2>
        <div class="proddescript"><p><%= product.description %></p></div>
        <p>Color: <%= product.color %></p>
        <strong>$ <%= product.price %></strong>
        <div class="colbuttons">
        <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-default', role:'button' %>
<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default', role:'button' %>
		</div>
	</div>
      </div><!-- /col -->
    <% end %>
  </div>

<br>

<div class="submitbutton"><%= link_to 'New Product', new_product_path, class: 'btn btn-default', role:'button' %>
</div>
</div>

<script>
$(document).on('ready page:load', function() {
    var heights = $(".prodcol").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);
    $(".prodcol").height(maxHeight);
});
</script>