<div class="container" id="showprodcontainer">
<p id="notice"><%= notice %></p>



<div class="col-xs-6 col-md-5 showprodthumb">
<%= image_tag(@product.image_url, class: "img-responsive") %>
</div>
<div class="thumbdetails col-xs-6 col-md-5">
<h2>
  <strong>Name:</strong>
  <%= @product.name %>
</h2>
  <h3>
  <strong>Price:</strong>
  $ <%= @product.price %>
</h2>
<h2>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </h2>
<%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>
</div>




<div class="proddescription">
<h2>Product Details<small><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></small></h2>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<%= link_to 'Edit', edit_product_path(@product),class: 'btn btn-default', role:'button' %> 
<%= link_to 'Back', products_path, class: 'btn btn-default', role:'button' %>

</div>
<hr>
<div class="prodcomments">
<h2>Reviews: <small><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></small></h2>
<%= render 'new_comment' %>
<%= render 'comments' %>
</div>
</div>




